@model SAP_10.Models.Sotrydnik

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sotrydnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SotrydnikId" />
            <div class="form-group">
                <label asp-for="surname" class="control-label"></label>
                <input asp-for="surname" class="form-control" />
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patronymic" class="control-label"></label>
                <input asp-for="patronymic" class="form-control" />
                <span asp-validation-for="patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="job_title" class="control-label"></label>
                <input asp-for="job_title" class="form-control" />
                <span asp-validation-for="job_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subdivision" class="control-label"></label>
                <input asp-for="subdivision" class="form-control" />
                <span asp-validation-for="subdivision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employment_date" class="control-label"></label>
                <input asp-for="employment_date" class="form-control" />
                <span asp-validation-for="employment_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
